.task-item {
    display: block;
    margin: 10px;
    text-decoration: none;
}

.task-item div {
    background-color: #e6e6e6;
    border: 1px solid grey;
    padding: 10px;
}

.task-container {
    max-width: 250px;
    padding: 10px;
    margin: 5px;
    background-color: #fafafa;
    border: 1px solid gray;
    border-radius: 5px;
}

.task-prev-link {
    text-decoration: none !important;
    cursor: pointer;
}

.comment {
    margin-bottom: 20px;
}

.comment-container {
    display: flex;
}

.comment-container span {
    margin-right: 10px;
    font-weight: bold;
}

.comment-container p {
    margin: 0;
}

.attachment {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.attachments-container {
    margin: 5px;
}